.goods-right {
  flex: 1;
}
.goods-left {
  flex: 1;
}
.goods-item {
  width: 300rpx;
  background-color: #fff;
  margin: 20rpx;
  border-radius: 10rpx;
  padding: 20rpx;
  border: 1px solid #eeeeee;
}

.goods-img {
  width: 100%;
}
